.container.svelte-ka1uvc{max-width:400px}.logo.svelte-ka1uvc{height:50px;width:50px}[data-bs-theme=light] .header-content.svelte-ka1uvc{color:#000}[data-bs-theme=dark] .header-content.svelte-ka1uvc{color:#fff}
