.container.svelte-1lcbzi1{max-width:400px}.logo.svelte-1lcbzi1{height:50px;width:50px}[data-bs-theme=light] .header-content.svelte-1lcbzi1{color:#000}[data-bs-theme=dark] .header-content.svelte-1lcbzi1{color:#fff}
