.container.svelte-a0ilio{max-width:400px}.logo.svelte-a0ilio{height:50px;width:50px}[data-bs-theme=light] .header-content.svelte-a0ilio{color:#000}[data-bs-theme=dark] .header-content.svelte-a0ilio{color:#fff}
