.container.svelte-k1bqmm{max-width:400px}.logo.svelte-k1bqmm{height:50px;width:50px}[data-bs-theme=light] .header-content.svelte-k1bqmm{color:#000}[data-bs-theme=dark] .header-content.svelte-k1bqmm{color:#fff}
